<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% loadquizzes.forEach(function (quizzes) { %>
        <a href="/takequiz/<%= quizzes.quizId %>" class="quizLink"><div id="<%= quizzes.quizId %>" class="well well-sm quizDiv ">
                        <h2><%= quizzes.quizName %></h2>
                        <p>Available until: <%= quizzes.dateFinished %></p>
                </div></a>
                    <script language="JavaScript">
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!
                        var yyyy = today.getFullYear();
                        if(dd<10){
                            dd='0'+dd;
                        }
                        if(mm<10){
                            mm='0'+mm;
                        }
                        var today = yyyy+'-'+mm+'-'+dd;
                            var quizDate = '<%= quizzes.dateFinished %>';
                            if (today > quizDate) {
                                    $('#' + '<%= quizzes.quizId %>').addClass('old');
                            }
                    </script>
    <% }) %>
</div>
<script>
    if( $('div').hasClass('old')){
        $('.old').removeClass('well well-sm');
        $('.old').addClass('alert alert-danger');
        $('.old').parent('a').removeAttr('href');
    }
</script>