<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container h-100">
    <div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">    
<form  action="/users/add" method="post" name="form1">
	
  <div class="form-group">
    <label for="">Username</label> 
    <input style="width: 250px" id="username" name="username" type="text" class="form-control" value="<%= username %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label> 
    <input style="width: 250px" id="password" name="password" type="text" required="required" class="form-control" value="<%= administrator %>"  >
  </div>
  <div class="form-group">
    <label for="admin">Administrator</label> 
    <input style="width: 250px" id="admin" name="administrator" type="text" class="form-control" aria-describedby="adminHelpBlock" required="required" value="<%= administrator %>" > 
    <span id="adminHelpBlock" class="form-text text-muted">Type y/n</span>
  </div> 
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary" value="Add">Add</button>
  </div>

</form>
</div>
</div>


<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>