<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
		<div class="row justify-content-center">
		  <div class="col-4">
<form  action="/adminlogin/add_adminlogin" method="post" name="form1">
	
  <div class="form-group">
    <label for="">Username</label> 
    <input style="width: 250px" id="username" name="username" type="text" class="form-control" value="<%= username %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label> 
    <input style="width: 250px" id="password" name="password" type="text" required="required" class="form-control" value="<%= password %>"  >
  </div>
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary" value="Add">Add</button>
  </div>

</form>
</div>
</div>
</div>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>