

<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>




<table class="table">
        <thead class="thead-dark">
          <tr>
				<th scope="col">Username</th>
				<th scope="col">Password</th>
				<th scope="col">Action</th>
          </tr>
        </thead>
        	<!--
		Using FOREACH LOOP for the users array

		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
	<% if (data) { %>
        <% data.forEach(function(user){ %>
      <tr>
      <td><%= user.username %></td>
			<td><%= user.password %></td>
         
       
          <td>
				<div style="float:left">
					<a href='/userlogin/useredit/<%= user.id %>'>Edit</a> &nbsp;
					<form method="post" action="/userlogin/delete/<%= user.id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>

        </tr>
        <% }) %>
        <% } %>
      



<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>








